<!DOCTYPE html>
<html>
<head>
  <title>BjondShopifyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="bjond-application" ng-app="bjond-app">
  <%= yield %>
</div>

</body>
</html>
